---
layout: default
title: 标签
permalink: /tags/
---
<div class="container">
<div class="home-intro">
<h1>{{ page.title }}</h1>
<p>按标签浏览所有文章</p>
</div>
<div class="posts-timeline">
{% assign tags = site.tags | sort %}
{% for tag in tags %}
  {% assign tag_name = tag[0] %}
  {% assign tag_posts = tag[1] %}
<div class="timeline-year-group">
<h2 class="timeline-year">#{{ tag_name }}</h2>
<ul class="timeline-posts">
    {% for post in tag_posts %}
<li class="timeline-post-item">
<time class="timeline-post-date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%m-%d" }}</time>
<a class="timeline-post-link" href="{{ site.baseurl }}{{ post.url }}">{{ post.title | escape }}</a>
<hr style="border:none; border-bottom:1px solid #303030; margin:10px 0 14px 0;">
</li>
    {% endfor %}
</ul>
</div>
{% endfor %}
</div>
</div>
